<%- include("../partials/header") %>
<%- include("../partials/studentSidebar") %>

<link rel="stylesheet" href="/stylesheet/Layout.css" />
<link rel="stylesheet" href="/stylesheet/card.css" />
<link rel="stylesheet" href="/stylesheet/students/outgoing.css">
<div class="content">
  <div class="container">
    <form action="/students/outgoing" method="GET" class="query-form">
      <label for="Year">Select Year</label>
      <select name="Year" id="Year">
        <option value="">Select</option>
        <% years.forEach(year=>{%>
        <option value="<%=year.Year%>"><%=year.Year%></option>
        <%}) %>
      </select>
      <label for="type">Select graduation</label>
      <select name="type" id="type" onchange="ugorpg()">
        <option value="">Select</option>
        <option value="UG">UG</option>
        <option value="PG">PG</option>
      </select>
      <label for="UG" class="ug">Select Branch</label>
      <select name="branch" id="UG" class="ug">
        <option value="">Select</option>
        <option value="AT">AT</option>
        <option value="BT">BT</option>
        <option value="CH">CH</option>
        <option value="CV">CV</option>
        <option value="CS">CS</option>
        <option value="EE">EE</option>
        <option value="EC">EC</option>
        <option value="EI">EI</option>
        <option value="IM">IM</option>
        <option value="IS">IS</option>
        <option value="ME">ME</option>
        <option value="ML">ML</option>
        <option value="TE">TE</option>
      </select>
      <label for="PG" class="pg">Select Branch</label>
      <select name="branch" id="PG" class="pg">
        <option value="">Select</option>
        <option value="BBT">BBT</option>
        <option value="ECD">ECD</option>
        <option value="MCM">MCM</option>
        <option value="SCN">SCN</option>
        <option value="SCS">SCS</option>
        <option value="LDC">LDC</option>
        <option value="LEC">LEC</option>
        <option value="MSE">MSE</option>
        <option value="MBA">MBA</option>
        <option value="MCA">MCA</option>
        <option value="SSE">SSE</option>
        <option value="CSE">CSE</option>
        <option value="LVS">LVS</option>
        <option value="LAC">LAC</option>
      </select>
      <button class="btn btn-warning">submit</button>
      <% if(students.length>0){%>
        <button type='button' class="btn btn-primary" id="generateExcel">Download</button>
        <%}%>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
          Insert
        </button> 
        <% if(students.length>0){%>     
          <div>
            Year : <%=students[0].Year%>
          </div>
        <%}%> 
    </form>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Insert New Record</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/students/outgoing/" method="POST" id="new">
                    <div class="form-group">
                      <label for="Year">Year</label>
                      <input required type="text" name='Year' class="form-control" id="Year"  placeholder="Enter eg(2019)">
                    </div>
                    <div class="form-group">
                      <label for="Roll_number">Student USN</label>
                      <input required type="text" name='Roll_number' minlength="10" maxlength="10" class="form-control" id="Roll_number" placeholder="Enter usn">
                    </div>
                    <div class="modal-footer">
                      <!-- <input required type="submit" class="btn btn-primary"  value="Submit" formtarget="new"> -->
                      <button type="submit" form="new" class="btn btn-primary">Submit</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </form>
                </div>
  
              </div>
            </div>
          </div>
    <% if(students.length>0){%>
        <table class="example-table">
            <tr class="heading">
                <td style="display: none;">Year</td>
                <td>Name</td>
                <td>USN Number</td>
            </tr>
            <% students.forEach(student=>{;%>
                <tr>
                    <td style="display: none;"><%=student.Year%></td>
                    <td><%=student.Name_of_students%></td>
                    <td><%=student.Roll_number%></td>
                </tr>
            <%})%>
        </table>
    <%}%>
  </div>
</div>
<script src="/javascript/outgoing.js"></script>
<script src="/javascript/excel.js"></script>

<%- include("../partials/footer") %>
