<%- include("../partials/header") %>
<%- include("../partials/sidenav") %>
<link rel="stylesheet" href="/stylesheet/details.css">

<div class="content">
    <table class="table table-bordered border-primary">

        <tbody>

            <%for(const item in details[0]){%>
                
                    <tr>
                        <% for (var i=0 ;i< details.length+1;i++){%>
                            <% if (i === 0) {%>
                                <th scope="row"><%=item%></th>
                            <%} else{%>
                            <td><%=details[i-1][item]%></td>    
                            <%}%>
                        <%}%>
                    </tr>

            <%}%>
          <!-- <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr> -->
        </tbody>
      </table>
    <br>
<div>
    <a href="/excel/<%=dept_name%>/Departments">
        <button class="">Download</button>
    </a>
    <!-- <a href="/departments/<%=dept_name%>/new"><button>Insert</button></a>
    <a href="/departments/<%=dept_name%>/research"><button>research</button></a>
    <a href="/departments"><button>Departments</button></a> -->
    

</div>
</div>

<script src="/javascript/transpose.js"></script>
<script src="/javascript/excel.js" ></script>
<%- include("../partials/footer") %>