<%- include("../partials/header") %>
<%- include("../partials/sidenav") %>
<link rel="stylesheet" href="/stylesheet/details.css">

<div class="content">
    <table class="transpose example-table1" id="example-table">
        <thead>
        <th>
            <% for (var heading in details[0]){%>
            <td class="heading"><%=heading%></td>
            <%}%>
        </th>
        </thead>
        <tbody>
        <%details.forEach((detail)=>{%>
        <tr>
            <%for (const heading in detail){%>
            <td><%if(detail[heading] === null){%>
                Na
                <%}%>
                <%=detail[heading]%>
            </td>
            <%}%>
        </tr>
    </tbody>

        <%})%>
    </table>
    <br>
<div>
    <button id="generateExcel1">Download</button>
    <!-- <a href="/departments/<%=dept_name%>/new"><button>Insert</button></a>
    <a href="/departments/<%=dept_name%>/research"><button>research</button></a>
    <a href="/departments"><button>Departments</button></a> -->
    

</div>
</div>

<script src="/javascript/transpose.js"></script>
<script src="/javascript/downloadExcel.js" ></script>
<%- include("../partials/footer") %>