<%- include("../partials/header") %>
<style>
    a{
        padding: 1em 1em;
        text-decoration: none;
        background-color: aqua;
        border: 1px solid black;
    }
    .link{
        padding: 0 ;
    }

    .sl{
        padding: 0 1em;
    }
    th{
        padding: 0 5em;
            border: 5px solid blueviolet;
            
    }        
    td{
        padding: 1em 10em;

            border: 1px solid black;
            
    }
    table{
        margin: 5% auto;
        border-collapse: collapse;
    }

</style>

    <table>
        <tr>
            <th class="sl">Sl No</th>
            <th class="name">Department Name</th>
            <th class="link">link</th>
        </tr>
        <% for(var i=0;i< departments.length;i++){%>
        <tr>
            <td class="sl"><%=i+1%></td>
            <td class="name"><%=departments[i].dept_name%></td>
            <td class="link"><a href="/departments/<%=departments[i].dept_name%>">More</a></td>
        </tr>
        <%}%>
       </table>

<%- include("../partials/footer") %>