<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheet/index.css">

<div class="content">
    <!-- <table>
        <tr>
            <th class="sl">Sl No</th>
            <th class="name">Department Name</th>
            <th class="link">link</th>
        </tr>
        <% for(var i=0;i< departments.length;i++){%>
        <tr>
            <td class="sl"><%=i+1%></td>
            <td class="name"><%=departments[i].dept_name%></td>
            <td class="link"><a class="a" href="/departments/<%=departments[i].dept_name%>">More</a></td>
        </tr>
        <%}%>
       </table> -->
       <% for(var i=0;i< departments.length;i++){%>
       <div class="cards">
                <div class="sl items"><%=i+1%></div>
                <div class="name items"><%=departments[i].dept_name%></div>
                <div class="link items"><a class="btn btn-lg btn-info" href="/departments/<%=departments[i].dept_name%>">More</a></div>
       </div>
       <%}%>

</div>

<%- include("../partials/footer") %>