<%- include("../partials/header") %>
<%- include("../partials/sidenav") %>

<link rel="stylesheet" href="/stylesheet/details.css">

<style>
    .form{
        display: flex;
        justify-content: center;
    }
    form{
        /* color: white; */
        background-color: whitesmoke;
        border: 2px solid black;
        width: 70%;
        border-radius: 10px;
        padding:20px 90px;
    }
    form label{
        font-size: 20px;
    }
</style>
<div class="content">
    <div class="container sm">
        <form action="/departments/<%=dept_name%>/form" method="POST">
            <h3>Enter the Details for <%=dept_name%> department</h3>
            <% for(column of columns){%>
                <label for="<%=column%>"><%=column%>:</label>
                <input type="text" class="form-control" id="<%=column%>" aria-describedby="emailHelp" name='<%=column%>'>            
            <%}%>
            <br/>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>

    
</div>

<%- include("../partials/footer") %>
