<%- include("../partials/header") %>
<%- include("../partials/sidenav") %>

<link rel="stylesheet" href="/stylesheet/details.css">

<style>
    .form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 300px;
        background-color: black;
        border-radius: 15px;
        color: white;
        padding: 2em;
    }
    .form input,.form select{
        border-radius: 7px;
        height: 35px;
    }
</style>
<div class="content">
    <form class="form" action="/departments/<%=dept_name%>/research" method="POST" >
        <label for="table">Table: </label>
        <select name="table" id="table">
            <option value="">select</option>
            <option value="from_host_institution">Host Institution</option>
            <option value="from_other_institution">Other Institutions</option>
        </select>
        <br>
        <label for="year">Year: </label>
        <select name="Year" id="year">
            <option value="">select</option>
            <% years.forEach(year=>{ %>
                <option value="<%=year.Year%>"><%=year.Year%></option>    
            <% })%>
        </select>
        <br>
        <label for="faculty_name">Faculty Name:</label>
        <input type="text" id="faculty_name" name='faculty_name'>
        <br>
            <button>Submit</button>
    
    </form>
    
</div>

<%- include("../partials/footer") %>