<%- include("../partials/header") %>
<%- include("../partials/teacherSidebar") %>

<link rel="stylesheet" href="/stylesheet/Layout.css" />
<link rel="stylesheet" href="/stylesheet/teachers.css">
<div class="content">
    <div class="container">
        <div class="formnav">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                Insert
              </button>
              &nbsp;

        </div>
           
                 <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Insert New Record</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/teachers/joined/" method="POST" id="new">
                    <div class="form-group">
                      <label for="Name">Name</label>
                      <input required type="text" name='Name' class="form-control" id="Name"  placeholder="Enter name">
                    </div>
                    <div class="form-group">
                      <label for="ID_number_Aadhar_number">Aadhar Number</label>
                      <input required type="text" name='ID_number_Aadhar_number' minlength="12"  class="form-control" id="ID_number_Aadhar_number" placeholder="Enter 12 digit ">
                    </div>
                    <div class="form-group ">
                      <label for="Email">Enter email id</label>
                      <input required type="email" name='Email' class="form-control" id="Email" placeholder="email">
                    </div>
                    <div class="form-group ">
                        <label for="Gender">Enter date of joining</label>
                        <input required type="text" name='Gender' class="form-control" id="Gender" placeholder="Gender">
                    </div>
                    <div class="form-group ">
                        <label for="Designation">Enter Designation</label>
                        <input required type="text" name='Designation' class="form-control" id="Designation" placeholder="Designation">
                    </div>
                    <div class="form-group ">
                        <label for="Date_of_joining">Enter date of joining</label>
                        <input required type="text" name='Date_of_joining' class="form-control" id="Date_of_joining" placeholder="dd/mm/yyyy">
                    </div>
                    <div class="modal-footer">
                      <!-- <input required type="submit" class="btn btn-primary"  value="Submit" formtarget="new"> -->
                      <button type="submit" form="new" class="btn btn-primary">Submit</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </form>
                </div>
  
              </div>
            </div>
          </div>
        <table class="example-table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Id (Aadhar number)</td>
                    <td>Email</td>
                    <td>Designation</td>
                    <td>Date of Joining</td>
                    <td>Date of Leaving</td>
                </tr>
            </thead>
            <tbody>
                <%teachers.forEach(teacher=>{%>
                    <tr>
                        <td><%=teacher.Name%></td>
                        <td><%=teacher['ID_number_Aadhar_number']%></td>
                        <td><%=teacher.Email%></td>
                        <td><%=teacher.Designation%></td>
                        <td><%=teacher.Date_of_joining%></td>
                        <td><%=teacher.Date_of_leaving%></td>

                    </tr>    
                    
                <%})%>
            </tbody>
        </table>
    </div>
</div>
<script src="/javascript/excel.js"></script>

<%- include("../partials/footer") %>
