<%- include("../partials/header") %>
<%- include("../partials/teacherSidebar") %>

<link rel="stylesheet" href="/stylesheet/Layout.css" />
<link rel="stylesheet" href="/stylesheet/teachers.css"/>

<div class="content">
     
    <div class="container">
        <div class="formnav">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                Insert
              </button>
        </div>
           
                 <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Insert New Record</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/teachers/left/" method="POST" id="new">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <div class="form-group ">
                            <select data-live-search="true" name="Name" id="Name">
                                <option value="">Select</option>
                            <% teachers2.forEach(teacher2=>{%>
                                <option  data-tokens="<%=teacher2.Name%>" value="<%=teacher2.Name%>"><%=teacher2.Name%></option>
                                
                            <%})%>
                            </select>
                        </div>
                        <div class="form-group ">
                            <label for="Date_of_leaving%">Enter date of Leaving</label>
                            <input required type="text" name='Date_of_leaving' class="form-control" id="Date_of_leaving" placeholder="dd/mm/yyyy">
                        </div>
                      </div>
                    <div class="modal-footer">
                      <!-- <input required type="submit" class="btn btn-primary"  value="Submit" formtarget="new"> -->
                      <button type="submit" form="new" class="btn btn-primary">Submit</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </form>
                </div>
  
              </div>
            </div>
          </div>
        
        <table class="example-table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Id (Aadhar number)</td>
                    <td>Email</td>
                    <td>Designation</td>
                    <td>Date of Joining</td>
                    <td>Date of Leaving</td>
                </tr>
            </thead>
            <tbody>
                <%var i = 1;teachers.forEach(teacher=>{%>
                  <tr>
                      <td><%=i%></td>
                      <td><%=teacher.Name%></td>
                      <td><%=teacher['ID_number_Aadhar_number']%></td>
                      <td><%=teacher.Email%></td>
                      <td><%=teacher.Designation%></td>
                      <td><%=teacher.Date_of_joining%></td>
                  </tr>    
                  
              <%i++;})%>
            </tbody>
        </table>
    </div>
</div>
<script src="/javascript/excel.js"></script>

<%- include("../partials/footer") %>
